################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/park_finder/park_finder/bin/Debug/netcoreapp2.2
/park_finder/park_finder/obj
/park_finder/park_finder/park_finder.csproj.user
